.hero {
    padding-top: var(--header-height);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::after{
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        background: url('./bg-gradient3.png') no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
        clip-path: polygon(0 0, 100% 0%, 100% 35%, 0 60%);
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.8;
        
    }

    &__container{
        display: flex;
        flex-direction: row;
        
    }
    &__left{
        flex: 0.5;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;

        &-title{
            font-size: 4.5rem;
            font-weight: 600;
            line-height: 5.5rem;
        }
        &-description{
            font-size: 1.2rem;
            font-weight: 500;
            color: #222;
            max-width: 80%;
            padding: 1.5rem 0;
        }
        &-buttons{
            display: flex;
            &-button{
                color: #000;
                font-size: 1.2rem;
            }
        }


    }
    &__right{
        
        position: absolute;
        right: 0;
        bottom: 15%;
        max-width: 1000px;
        img {
            width: 100%;
            height: auto;
        }
          
    }

}