.moduledetails{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: calc(100vh - var(--header-height) );
    width: 100%;
    overflow-y: scroll;
    ::-webkit-scrollbar {
        display: none; 
    }
    scrollbar-width: none;
    scrollbar-color: transparent transparent;

    &__container{
        width: 60rem;
        height: 100%;
        padding: 2rem 1rem;
    }
    &__header{
        width: 100%;
        display: flex;
        gap: 3rem;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px #e2e2e2 solid;
        padding-bottom: 2rem;
        &-title{
            font-size: 2rem;
            font-weight: 600;
        }
        &-block{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
        &-description{
            font-size: 1.2rem;
            min-width: 30rem;
            color: #6d6d6d;
        }
        &-words{
            background: linear-gradient(45deg, 
                    rgba(255, 0, 0, 0.7),  
                    rgba(0, 0, 255, 0.4), 
                    rgba(255, 165, 0, 0.6),
                    rgba(128, 0, 128, 0.5)  
                );
            border-radius: var(--radius);
            padding: 0.3rem 0.5rem;
            font-weight: bold;
            white-space: nowrap; 
        }
    }

    &__modes{
        margin: 2rem 0;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;

        &-mode{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px #6d6d6d solid;
            border-radius: var(--radius);
            height: 7rem;
            width: 33%;
            &-cont{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                height: 88%;
                width: 95%;
                border-radius: var(--radius);
                h2{
                    font-size: 1.4rem;
                    position: relative;
                }
                span{
                    position: absolute;
                    padding-left: 5px;
                }
            }

            &:hover{
                background: linear-gradient(45deg, 
                rgba(255, 0, 0, 0.7),  
                rgba(0, 0, 255, 0.4), 
                rgba(255, 165, 0, 0.6),
                rgba(128, 0, 128, 0.5)  
                );
            }

            &-premium{
                background: linear-gradient(45deg, 
                rgba(255, 0, 0, 0.7),  
                rgba(0, 0, 255, 0.4), 
                rgba(255, 165, 0, 0.6),
                rgba(128, 0, 128, 0.5)  
                );
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                font-size: 1.4rem;
                font-weight: 800;
                border-radius: var(--radius);
                cursor: pointer;
                transition: all 0.2s ease-in;
                &:hover{
                    background-color: #cccccc;
                }
            }

          
        }
    }

    &__cards{
        height: 30rem;
        position: relative;
        &-arrow{
            position: absolute;
            bottom: 1000%;
        }

        &-card{
            height: 100%;
            width: 100%;
        }
    }


    
}
