
.author{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    height: 12rem;
    width: 100%;
    max-width: 23.6rem;
    flex-shrink: 0;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    color: #000;
    &:after{
        content: '';
        position: absolute;
        height: 0.5rem;
        width: 100%;
        left: 50%;
        bottom: 0%;
        border-radius: var(--radius);
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out;
    }
    &:hover:after{
        background: linear-gradient(45deg, 
                    rgba(255, 0, 0, 0.7),  
                    rgba(0, 0, 255, 0.4), 
                    rgba(255, 165, 0, 0.6),
                    rgba(128, 0, 128, 0.5)  
                );
    }

    &:hover{
        cursor: pointer;
    }

    &__image{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
    }

    &__username{
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__modules{
        background-color: #e2e2e2;
        padding: 0.1rem 0.6rem;
        border-radius: var(--radius);

    }
}